<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ragedev.example.dynamictoolbar.extern.EventBusTriggerHandler"
            id="de.ragedev.example.dynamictoolbar.command.triggereventbus"
            name="Trigger Event Bus">
      </command>
      <command
            id="de.ragedev.eclipse.dynamictoolbar.addbutton.command"
            name="Add Button">
         <commandParameter
               id="de.ragedev.eclipse.dynamictoolbar.addbutton.command.parameter.buttonname"
               name="de.ragedev.eclipse.dynamictoolbar.addbutton.command.parameter.buttonname"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Ragedev">
            <command
                  commandId="de.ragedev.example.dynamictoolbar.command.triggereventbus"
                  label="Trigger Event Bus"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ragedev.example.dynamictoolbar.handler.ButtonTriggeredHandler"
            commandId="de.ragedev.eclipse.dynamictoolbar.addbutton.command">
      </handler>
   </extension>

</plugin>
